body{
    font-family: 'Cooper Black';
    background: greenyellow;
    margin: 0px;
    padding: 20px;
}

.grid-contener{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
}

.grid-item{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.grid-item img {
    height: 100%;
    width: 350px;
    object-fit: cover;

}

.grid-item a {
    position: absolute;
    bottom: 0;
    padding: 20px;  
    text-decoration:turquoise;
    text-align: start;
    text-align: center;
    left: 0px;
    right: 0px;    
    font-size: 20px;

}